<template>
  <div>
    <div class="box mt-5">
      <div class="columns is-mobile is-vcentered">
        <div class="column is-half">
          <div class="level-left">
            <span>
              <span :class="iconClass">
                <i :class="icon"></i>
              </span>
              <span> {{ title }}</span>
            </span>
          </div>
          <div class="level-left">
            <hr />
          </div>
          <div class="is-divider my-1"></div>
          <div class="level mt-4">
            <div class="buttons">
              <b-button
                size="is-small"
                @click="onOpenClicked"
                :disabled="windowOpened"
                >Open
              </b-button>
              <b-button
                size="is-small"
                :icon-left="fullscreenIcon"
                @click="onFullscreenClicked"
                :disabled="!windowOpened || !visible"
                >{{ this.fullscreen ? "Restore" : "Fullscreen" }}
              </b-button>
            </div>
          </div>
          <div class="level-left">
            <b-checkbox v-model="checkbox" @change.native="onUpperChanged"
              >Uppercase</b-checkbox
            >
          </div>
        </div>
        <div class="column">
          <div class="buttons">
            <b-button
              size="is-large"
              expanded
              :class="{ 'is-success': visible }"
              :icon-left="visibilityIcon"
              @click="onVisibilityClicked"
              :disabled="!windowOpened"
            >
              Window
            </b-button>
          </div>
          <div class="columns is-mobile">
            <div class="column">
              <b-button
                type="is-light"
                expanded
                :class="{ 'is-success': openlp_visible }"
                :icon-left="openLpVisibilityIcon"
                @click="onShowHideOpenLpClicked"
                :disabled="!windowOpened"
              >
                Content
              </b-button>
            </div>
            <div class="column">
              <b-button
                type="is-light"
                expanded
                :class="{ 'is-success': timer_visible }"
                :icon-left="timerVisibilityIcon"
                @click="onShowHideTimerClicked"
                :disabled="!windowOpened"
              >
                Timer
              </b-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    id: String,
    title: String,
    icon: String,
    iconClass: String,
  },
  data() {
    return {
      windowOpened: false,
      fullscreen: false,
      visible: false,
      timer_visible: false,
      openlp_visible: true,
      checkbox: false,
    };
  },
  computed: {
    fullscreenIcon: function () {
      return this.fullscreen ? "compress" : "expand";
    },
    visibilityIcon: function () {
      return this.visible ? "eye-slash" : "eye";
    },
    timerVisibilityIcon: function () {
      return this.timer_visible ? "eye-slash" : "eye";
    },
    openLpVisibilityIcon: function () {
      return this.openlp_visible ? "eye-slash" : "eye";
    },
  },
  mounted() {
    this.$eventBus.$on("window-closed", (window_id) => {
      if (window_id == this.id) {
        this.windowOpened = false;
        this.visible = false;
        this.fullscreen = false;
        this.timer_visible = false;
        this.openlp_visible = true;
      }
    });

    this.$eventBus.$on("timerExpired", () => {
      if (this.timer_visible) {
        this.onShowHideTimerClicked();
      }
    });
  },
  beforeDestroy() {
    this.$eventBus.$off("window-closed");
    this.$eventBus.$off("timerExpired");
  },
  methods: {
    onOpenClicked() {
      try {
        // eslint-disable-next-line
        pywebview.api.on_open_clicked(this.id);
      } catch (error) {
        console.log(error);
      }
      this.windowOpened = true;
      this.visible = true;
    },
    onFullscreenClicked() {
      try {
        // eslint-disable-next-line
        pywebview.api.on_fullscreen_clicked(this.id);
      } catch (error) {
        console.log(error);
      }
      this.fullscreen = !this.fullscreen;
    },
    onUpperChanged() {
      try {
        // eslint-disable-next-line
        pywebview.api.on_upper_clicked(this.id, this.checkbox);
      } catch (error) {
        console.log(error);
      }
    },
    onVisibilityClicked() {
      try {
        // eslint-disable-next-line
        pywebview.api.on_visibility_clicked(this.id);
      } catch (error) {
        console.log(error);
      }
      this.visible = !this.visible;
    },
    onShowHideTimerClicked() {
      this.timer_visible = !this.timer_visible;

      this.$bc_control.postMessage({
        window_id: this.id,
        action: "setTimerVisibility",
        value: this.timer_visible,
      });
    },
    onShowHideOpenLpClicked() {
      this.openlp_visible = !this.openlp_visible;

      this.$bc_control.postMessage({
        window_id: this.id,
        action: "setOpenLpVisibility",
        value: this.openlp_visible,
      });
    },
  },
};
</script>

<style scoped>
hr {
  margin: 0;
}
</style>
