<template>
  <div class="remain">
    <span>{{ remaining }}</span>
  </div>
</template>

<script>
import { mixin as VueTimers } from "vue-timers";
export default {
  mixins: [VueTimers],
  props: {
    deadline: {
      type: Date,
      required: true,
    },
  },
  timers: {
    countdown: {
      time: 1000,
      autostart: true,
      repeat: true,
    },
  },
  data() {
    return {
      currentTime: this.deadline - new Date(),
      deadlinePassed: true,
    };
  },
  computed: {
    remaining() {
      if (this.deadlinePassed) {
        return "--:--";
      } else {
        let remain = this.currentTime;
        let days = Math.floor(remain / (1000 * 60 * 60 * 24));
        let hours = Math.floor((remain / (1000 * 60 * 60)) % 24);
        let minutes = Math.floor((remain / 1000 / 60) % 60);
        let seconds = Math.floor((remain / 1000) % 60);
        return (
          (days ? this.formatTime(days) + ":" : "") +
          (hours ? this.formatTime(hours) + ":" : "") +
          (minutes ? this.formatTime(minutes) + ":" : "") +
          this.formatTime(seconds)
        );
      }
    },
  },
  methods: {
    countdown() {
      this.currentTime = this.deadline - new Date();
      if (this.currentTime > 0) {
        this.deadlinePassed = false;
      } else if (!this.deadlinePassed) {
        this.deadlinePassed = true;
        this.$emit("deadlinePassed");
      }

      this.$bc_timer.postMessage(this.remaining);
    },
    formatTime(value) {
      if (value < 10) {
        return "0" + value.toString();
      }
      return value.toString();
    },
  },
};
</script>

<style scoped>
.remain {
  min-width: 10ch;
  justify-content: center;
}
</style>
