<template>
  <div>
    <b-field grouped>
      <p class="control">
        <span class="button is-static is-small is-light">Output Font</span>
      </p>
      <b-select
        @input="onNewFont"
        v-model="selectedFont"
        size="is-small"
        required
      >
        <option
          v-for="font in fontsAvailable"
          :key="font"
          :value="font"
          :style="
            'font-family:' + font + ', Arial, sans-serif; font-size: 18px'
          "
        >
          {{ font }}
        </option>
      </b-select>
    </b-field>
  </div>
</template>

<script>
export default {
  props: {
    selectedFont: String,
  },
  data() {
    return {
      //selectedFont: "Arial",
      fontsAvailable: [],
    };
  },
  created() {
    const fontCheck = new Set(
      [
        // Windows 10
        "Arial",
        "Arial Black",
        "Bahnschrift",
        "Blackadder ITC",
        "Britannic",
        "Calibri",
        "Cambria",
        "Cambria Math",
        "Candara",
        "Comic Sans MS",
        "Consolas",
        "Constantia",
        "Corbel",
        "Courier New",
        "Cooper",
        "Franklin Gothic",
        "Gabriola",
        "Gadugi",
        "Georgia",
        "HoloLens MDL2 Assets",
        "Impact",
        "Ink Free",
        "Javanese Text",
        "Leelawadee UI",
        "Lucida Console",
        "Lucida Sans Unicode",
        "Malgun Gothic",
        "Microsoft Himalaya",
        "Microsoft JhengHei",
        "Microsoft New Tai Lue",
        "Microsoft PhagsPa",
        "Microsoft Sans Serif",
        "Microsoft Tai Le",
        "Microsoft YaHei",
        "Microsoft Yi Baiti",
        "MingLiU-ExtB",
        "Mongolian Baiti",
        "MS Gothic",
        "MV Boli",
        "Myanmar Text",
        "Nirmala UI",
        "Palatino Linotype",
        "Rockwell",
        "Segoe MDL2 Assets",
        "Segoe Print",
        "Segoe Script",
        "Segoe UI",
        "Segoe UI Historic",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "SimSun",
        "Sitka",
        "Sylfaen",
        "Symbol",
        "Tahoma",
        "Times New Roman",
        "Trebuchet MS",
        "Verdana",
        "Yu Gothic",
        // macOS
        "American Typewriter",
        "Andale Mono",
        "Arial",
        "Arial Rounded MT Bold",
        "Arial Unicode MS",
        "Avenir",
        "Avenir Next",
        "Avenir Next Condensed",
        "Baskerville",
        "Big Caslon",
        "Bodoni 72",
        "Bodoni 72 Oldstyle",
        "Bodoni 72 Smallcaps",
        "Bradley Hand",
        "Brush Script MT",
        "Chalkboard",
        "Chalkboard SE",
        "Chalkduster",
        "Charter",
        "Cochin",
        "Comic Sans MS",
        "Copperplate",
        "Courier",
        "Courier New",
        "Didot",
        "DIN Alternate",
        "DIN Condensed",
        "Futura",
        "Geneva",
        "Georgia",
        "Gill Sans",
        "Helvetica",
        "Helvetica Neue",
        "Herculanum",
        "Hoefler Text",
        "Impact",
        "Lucida Grande",
        "Luminari",
        "Marker Felt",
        "Menlo",
        "Microsoft Sans Serif",
        "Monaco",
        "Noteworthy",
        "Optima",
        "Palatino",
        "Papyrus",
        "Phosphate",
        "Rockwell",
        "Savoye LET",
        "SignPainter",
        "Skia",
        "Snell Roundhand",
        "Tahoma",
        "Times",
        "Times New Roman",
        "Trattatello",
        "Trebuchet MS",
        "Verdana",
        "Zapfino",
      ].sort()
    );

    // Take this default list, check availability and merge into
    // our existing data().fontsAvailable
    const avail = new Set();
    document.fonts.ready.then(() => {
      for (const font of fontCheck.values()) {
        if (document.fonts.check(`72px "${font}"`)) {
          if (font != "Marlett" && font != "Webdings" && font != "Wingdings") {
            avail.add(font);
          }
        }
      }
      this.fontsAvailable.forEach(avail.add, avail);
      this.fontsAvailable = [...avail.values()];
    });
  },
  mounted() {
    // Listen for system fonts from python, check availability and merge into
    // our existing data().fontsAvailable
    this.$eventBus.$on("system-fonts", (fonts) => {
      const font_list = JSON.parse(fonts);
      const avail = new Set();
      document.fonts.ready.then(() => {
        for (const font of font_list) {
          if (document.fonts.check(`72px "${font}"`)) {
            if (
              font != "Marlett" &&
              font != "Webdings" &&
              font != "Wingdings"
            ) {
              avail.add(font);
            }
          }
        }
        this.fontsAvailable.forEach(avail.add, avail);
        this.fontsAvailable = [...avail.values()];
      });
    });
  },
  beforeDestroy() {
    this.$eventBus.$off("system-fonts");
  },
  methods: {
    onNewFont(font) {
      this.$emit("newFont", font);
    },
  },
};
</script>
