<template>
  <div>
    <tabbed-editor type="song"></tabbed-editor>
  </div>
</template>

<script>
import TabbedEditor from "./TabbedEditor.vue";
export default {
  components: { TabbedEditor },
  data() {
    return {
      dummy: 0,
    };
  },
};
</script>
