<template>
  <div>
    <b-field>
      <p class="control">
        <span class="button is-static is-small is-light">OpenLP Host</span>
      </p>
      <b-input
        ref="hostRef"
        type="text"
        lazy
        v-model="host"
        size="is-small"
        placeholder="127.0.0.1"
        required
        expanded
        validation-message="Enter a valid IP adress in form xxx.xxx.xxx.xxx"
        pattern="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"
        @input="onHostInput"
      >
      </b-input>
    </b-field>
    <control-panel
      id="key_fill"
      title="Key/Fill"
      icon="fas fa-adjust"
    ></control-panel>
    <control-panel
      id="chroma"
      title="Chroma"
      icon="fas fa-desktop"
      iconClass="has-text-success"
    ></control-panel>

    <div class="level"></div>
  </div>
</template>

<script>
import ControlPanel from "./ControlPanel.vue";
export default {
  components: { ControlPanel },
  data() {
    return {
      host: "127.0.0.1",
    };
  },
  methods: {
    onHostInput() {
      if (this.$refs.hostRef.checkHtml5Validity()) {
        window.localStorage.setItem("openlp_host_id", this.host);
      }
    },
  },
};
</script>
