<template>
  <div>
    <div class="box is-flex is-flex-direction-column">
      <div class="level is-mobile m-0 p-0">
        <div class="level-left">
          <div class="level-item">
            <span>
              <span :class="iconClass">
                <i :class="icon"></i>
              </span>
              <span> {{ title }}</span>
            </span>
          </div>
          <font-picker
            :selectedFont="selectedFont"
            @newFont="onNewFont"
          ></font-picker>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div v-if="!valid_css">
              <b-tooltip
                label="Unrecognised css selector"
                position="is-left"
                type="is-warning"
              >
                <span class="icon has-text-warning">
                  <i class="fas fa-exclamation-triangle"></i>
                </span>
              </b-tooltip>
            </div>
            <b-button :disabled="!changed" size="is-small" @click="updateCss"
              >Apply</b-button
            >
          </div>
        </div>
      </div>
      <hr class="my-1" />
      <p class="input">
        <span :style="exampleStyle"
          >The quick brown fox jumps over the lazy dog</span
        >
      </p>
      <prism-editor
        class="is-flex-grow-1 my-editor"
        v-model="code"
        :highlight="highlighter"
      ></prism-editor>
      <hr class="my-1" />
      <div class="hint">
        <em>Tip:</em> Visit
        <a href="https://www.w3schools.com/css/css_align.asp">W3Schools</a>
        for help on alignment using <em>absolute</em> positiong
      </div>
    </div>
  </div>
</template>

<script>
import FontPicker from "./FontPicker.vue";
// import Prism Editor
import { PrismEditor } from "vue-prism-editor";
import "vue-prism-editor/dist/prismeditor.min.css"; // import the styles somewhere

// import highlighting library (you can use any library you want just return html string)
import { highlight, languages } from "prismjs/components/prism-core";
import "prismjs/components/prism-css";
import "prismjs/themes/prism-coy.css"; // import syntax highlighting styles

export default {
  components: { PrismEditor, FontPicker },
  props: {
    window_id: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    icon: {
      type: String,
      required: true,
    },
    iconClass: String,
  },
  data() {
    return {
      visible: false,
      code: "",
      storedCode: "",
      storedFont: "",
      selectedFont: "Arial",
      valid_css_tags: [],
    };
  },
  created() {
    this.storedCode = this.$localStorage.get(this.code_key_id);
    this.code = this.storedCode;

    this.storedFont = this.$localStorage.get(this.font_key_id);
    this.selectedFont = this.storedFont;

    if (this.$props.type == "timer") {
      this.valid_css_tags.push("#" + this.$props.type + "Text");
      this.valid_css_tags.push("#" + this.$props.type + "Background");
    } else if (this.$props.type == "song") {
      this.valid_css_tags.push("#" + this.$props.type + "Title");
      this.valid_css_tags.push("#" + this.$props.type + "Text");
      this.valid_css_tags.push("#" + this.$props.type + "Footer");
      this.valid_css_tags.push("#" + this.$props.type + "Background");
    } else if (this.$props.type == "bible") {
      this.valid_css_tags.push("#" + this.$props.type + "Title");
      this.valid_css_tags.push("#" + this.$props.type + "Text");
      this.valid_css_tags.push("#" + this.$props.type + "Background");
    }
  },
  computed: {
    valid_css: function () {
      const re = /\s*(#[a-zA-Z0-9_-]+)\s*\n*\s*{/g;
      const matches = [...this.code.matchAll(re)];
      let rtn = true;
      let tags = this.valid_css_tags;
      matches.forEach(function (item) {
        if (!tags.includes(item[1])) {
          rtn = false;
        }
      });

      return rtn;
    },
    changed: function () {
      return (
        this.storedCode != this.code || this.storedFont != this.selectedFont
      );
    },
    exampleStyle: function () {
      return (
        "font-family:" + this.selectedFont + ";" + "font-size: 16px !important;"
      );
    },
    code_key_id: function () {
      return this.window_id + "_" + this.type + "_css";
    },
    font_key_id: function () {
      return this.window_id + "_" + this.type + "_font";
    },
  },
  methods: {
    highlighter(code) {
      return highlight(code, languages.css); //returns html
    },
    updateCss() {
      this.$localStorage.set(this.code_key_id, this.code);
      this.storedCode = this.code;

      this.$localStorage.set(this.font_key_id, this.selectedFont);
      this.storedFont = this.selectedFont;
    },
    onNewFont(font) {
      this.selectedFont = font;
    },
  },
};
</script>

<style scoped>
hr {
  margin: 0;
  background-color: #c1c1c1;
}

.box {
  height: 100%;
}

.hint {
  font-size: 0.75em;
  margin-bottom: -10px;
}
/* required class */
.my-editor {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: #fafafa;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 5px;
  min-height: 14em;
}

/* optional class for removing the outline */
.prism-editor__textarea:focus {
  outline: none;
}
</style>
