<template>
  <div>
    <b-tabs v-model="activeTab" size="is-small" type="is-toggle">
      <b-tab-item label="Key/Fill" icon="adjust">
        <style-editor
          class="style-editor"
          window_id="key_fill"
          :type="type"
          title="Editor"
          icon="far fa-file-code"
        ></style-editor>
      </b-tab-item>

      <b-tab-item>
        <template #header>
          <span class="has-text-success">
            <i class="fas fa-desktop" size="is-small"></i>
          </span>
          <span class="ml-2">Chroma</span>
        </template>
        <style-editor
          class="style-editor"
          window_id="chroma"
          :type="type"
          title="Editor"
          icon="far fa-file-code"
        ></style-editor>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import StyleEditor from "./StyleEditor.vue";
export default {
  components: { StyleEditor },
  props: {
    type: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      activeTab: 0,
    };
  },
};
</script>

<style scoped>
>>> .tab-content {
  padding: 0 !important;
}

.style-editor {
  height: calc(100vh - 105px);
}
</style>
