<template>
  <div>
    <b-field grouped>
      <b-field>
        <p class="control">
          <span class="button is-static is-small is-light">Target</span>
        </p>
        <b-timepicker
          style="max-width: 12ch"
          :increment-minutes="5"
          size="is-small"
          v-model="targetTime"
          icon="clock"
          hour-format="24"
          @input="onNewTargetTime"
        >
        </b-timepicker>
      </b-field>
      <b-field>
        <p class="control">
          <span class="button is-static is-small is-light">Remaining</span>
        </p>
        <countdown
          class="control input is-small"
          :deadline="targetTime"
          @deadlinePassed="onTimerDeadline"
        ></countdown>
      </b-field>
    </b-field>
    <tabbed-editor type="timer"></tabbed-editor>
  </div>
</template>

<script>
import Countdown from "./Countdown.vue";
import TabbedEditor from "./TabbedEditor.vue";
export default {
  components: { Countdown, TabbedEditor },
  data() {
    return {
      targetTime: new Date(),
    };
  },
  created() {
    let target = this.$localStorage.get("timer_target");
    this.targetTime.setHours(target.hours);
    this.targetTime.setMinutes(target.minutes);
  },
  methods: {
    onTimerDeadline() {
      this.$eventBus.$emit("timerExpired");
    },
    onNewTargetTime() {
      let target = {
        hours: this.targetTime.getHours(),
        minutes: this.targetTime.getMinutes(),
      };

      this.$localStorage.set("timer_target", target);
    },
  },
};
</script>

<style scoped>
/deep/ .style-editor {
  height: calc(100vh - 147px) !important;
}
</style>
