body {
  font-family: 'Segoe UI, Helvetica', 'Arial', sans-serif;
}

#background {
  background-image: url("images/bible_bar.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#songTitle {
  position: absolute;
  left: 43%;
  top: 2%;
  font-size: 5vh;
  color: white;
  padding-bottom: 0px;
  text-align: left;
}

#songText {
  position: absolute;
  left: 43%;
  top: calc(10% + 5vh);
  padding-right: 3vw;
  padding-bottom: 5vh;
  font-size: 5vh;
  line-height: 1.4;
  color: white;
  padding-bottom: 0px;
  text-align: left;
}
