body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#songTitle {
  position: fixed;
  top: calc(80% - 5vh);
  font-size: 4vh;
  font-weight: bold;
  color: white;
  max-width: 40vw;
  min-height: 4vh;
  margin-left: 5vw;
  padding: 0.3vh 2vw;
  background-color: black;
  max-width: max-content;
}

#songText {
  position: fixed;
  top: 80%;
  font-size: 2.6vh;
  color: white;
  padding: 2vh 1vw;
  background: linear-gradient(to right, #e66465, #9198e5);
  max-width: 40vw;
  margin-left: 5vw;
}
