body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#songTitle {
  display: none;
}

#background {
  display: none;
}

#songText {
  position: absolute;
  top: 80%;
  height: 20%;
  width: 100%;
  font-size: 7.25vh;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.35), rgba(0,0,0,1));
}
