body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#background {
  display: none;
}

#songTitle {
  display: none;
}

#songText {
  padding-top: 5vh;
  font-size: 7.25vh;
  color: white;
  padding-bottom: 0px;
  text-align: center;
}

