<template>
  <div id="app" style="height: 100%">
    <div class="fixed-height has-background-grey-lighter">
      <b-tabs v-model="activeTab" type="is-toggle">
        <b-tab-item label="Main" icon="image">
          <main-tab></main-tab>
        </b-tab-item>

        <b-tab-item label="Timer" icon="clock" icon-pack="far">
          <timer-tab></timer-tab>
        </b-tab-item>

        <b-tab-item label="Lyrics" icon="file-alt" icon-pack="far">
          <lyrics-tab></lyrics-tab>
        </b-tab-item>

        <b-tab-item label="Bibles" icon="film">
          <bible-tab></bible-tab>
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import BibleTab from "./components/BibleTab.vue";
import MainTab from "./components/MainTab.vue";
import LyricsTab from "./components/LyricsTab.vue";
import TimerTab from "./components/TimerTab.vue";
export default {
  components: { MainTab, TimerTab, BibleTab, LyricsTab },
  data() {
    return {
      activeTab: 0,
    };
  },
};
</script>

<style scoped>
.fixed-height {
  height: 100%;
  min-height: 680px;
  min-width: 545px;
}
</style>
