<!DOCTYPE html>
<html lang="" style="overflow: hidden; height: 100%; margin: 0;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body style="overflow: hidden; height: 100%; margin: 0;">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <script src="js/main.js"></script>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>
